# Archivos compilados y carpetas de salida
*.class
bin/
bin/**
build/

# Archivos de configuración de IDEs (Eclipse/VS Code)
.settings/
.settings/**
.classpath
.project
.DS_Store

# Documentación HTML generada automáticamente
doc/api/
doc/api/**
